name: Build

on:
  schedule:
  # 每周5 UTC 8:30运行
    - cron: '30 8 * * 5'
  push:
    branches: [ "main" ]

jobs:
  build-xray:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Build Docker Image
      run: docker build -t quay.io/dlysy/xray:cloud .
      working-directory: ./xray

    - name: Quay login
      uses: docker/login-action@v2
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_USERNAME }}
        password: ${{ secrets.QUAY_PASSWORD }}

    - name: Push to Quay
      run: docker push quay.io/dlysy/xray:cloud

  build-v2rayn:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Download v2rayn
      shell: python
      working-directory: ./v2rayn
      run: |
        import requests
        import zipfile
        req = requests.get("https://api.github.com/repos/2dust/v2rayN/releases/latest")

        linux_asset_url = next(filter(lambda x: x["name"] == "v2rayN-linux-64.zip",req.json()["assets"]))["browser_download_url"]

        with open("v2rayn.zip","wb") as f:
            f.write(requests.get(linux_asset_url).content)

        with zipfile.ZipFile("v2rayn.zip","r") as f:
            f.extractall(".")

    - name: Build Docker Image
      run: docker build -t quay.io/dlysy/v2rayn:web .
      working-directory: ./v2rayn

    - name: Quay login
      uses: docker/login-action@v2
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_USERNAME }}
        password: ${{ secrets.QUAY_PASSWORD }}

    - name: Push to Quay
      run: docker push quay.io/dlysy/v2rayn:web


  build-darkhttpd:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        repository: 'emikulic/darkhttpd'

    - name: Build Docker Image
      run: docker build -t quay.io/dlysy/darkhttpd:latest .

    - name: Quay login
      uses: docker/login-action@v2
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_USERNAME }}
        password: ${{ secrets.QUAY_PASSWORD }}

    - name: Push to Quay
      run: docker push quay.io/dlysy/darkhttpd:web